.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* map style */
#map {
        height: 100vh;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      
/* Search bar  ???
#nav {
  width: $app-width;
  margin: 10px auto;
  display: block;
  padding: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  width: $app-width;
  margin: 0 auto;
  padding: 0;
  li {
    background-color: $list-bgcolor;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    &:hover {
      background-color: darken($list-bgcolor, 3%);
    }
    a {
      position: absolute;
      left: 200px;
      color: $text-color;
    }
  }
}
*/
